[submodule "infusionDocsContents"]
	path = infusionDocsContents
	url = https://github.com/Batey96/infusionDocsContents.git
[submodule "docs"]
	path = docs
	url = https://github.com/Batey96/testCLoner.git
