<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/styles.css"
</head>
<body>
    <h1>HomePage template starts here</h1>
      {{{content}}}
      {{#if comments}}
          {{description}}
      {{/if}}
    <h1>Homepage template stops here</h1>
    {{sample.name}}
    <div class="main">hello</div>
</body> 
</html>